{% comment %} SVG MAP MODAL {% endcomment %}
<script>
    (function(){
    $( ".state" ).on( "click", function() { 
        $('#dialogbox').addClass('active');
        $('#data').html($(this).data('info'));
    });
    $( "#dialogbox" ).on( "click", function() {
        $('#dialogbox').removeClass('active');
        $("#data").empty();
    });
    })();
</script>

{% comment %} REAMAZE SCRIPT {% endcomment %}
<script type="text/javascript">
    var _support = _support || { 'ui': {}, 'user': {} };
    _support['account'] = 'mfimedical';
</script>

{% render 'flits_snippet' %}

{% comment %} REVIEWS.io floating {% endcomment %}
<div id="reviews-io-floating-widget" widget-id="0AtwFOxohUfRb3Yi"
        store-name="mfi-medical" >
        </div>
        <script src='//widget.reviews.io/modern-widgets/floating.js'></script>

{% comment %} KLAVIYO {% endcomment %}
{% render 'klaviyobis' %}

{% comment %} SMILE.io JS {% endcomment %}
{% render 'smile-initializer' %}
{% render 'custom-smile' %}

{% comment %} MICRO MODAL JS {% endcomment %}
{%- render 'js-micro-modal' -%}
