<div class='contact-blocks'>
  <div class='contact-blocks-inner'>
    <a data-reamaze-lightbox="contact" data-reamaze-lightbox-anchored="true" class='contact-block chat-block'>
      <span>{% include 'icon-library', id: 'icon-chat-alternate' %}</span>
      <p><span style='font-size: 20px; font-weight: 600;line-height: 36px;'>Live Chat</span><br/>
      Office hours: Monday to Friday, 7AM to 5PM PST.</p>
      <button class='button-secondary'>Chat now</button>
    </a>
    <a href='tel:+18006331558' class='contact-block email-block'>
      <span>{% include 'icon-library', id: 'icon-cell-phone' %}</span>
      <p><span style='font-size: 20px; font-weight: 600;line-height: 36px;'>Phone</span><br/>
      Office hours: Monday to Friday, 7AM to 5PM PST.</p>
      <button class='button-secondary'>Call (800) 633-1558</button>
    </a>
    <a href='mailto:info@mfimedical.com?subject=Questions%20for%20MFI%20Medical' class='contact-block email-block'>
      <span>{% include 'icon-library', id: 'icon-envelope' %}</span>
      <p><span style='font-size: 20px; font-weight: 600;line-height: 36px;'>Email</span><br/>
      We usually respond within 24 hours. For urgent matters, please call our office.</p>
      <button class='button-secondary'>Send an email</button>
    </a>
  </div>
</div>