<div class="modal micromodal-slide" id="modal-warranty" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close="">
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-warranty-title">
      <header class="modal__header">
        <h2 class="modal__title heading h1" id="modal-warranty-title">
          Warranty Policy
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close=""></button>
      </header>
      <div class="modal__content modal-warranty" id="modal-warranty-content">
        <div class="body">
          <p>Warranty information can be found on each product page under the <strong>Key Features</strong> and <strong>within the product description</strong>. Warranties will vary by product, condition (Factory New, Factory Refurbished, and Certified Refurbished) and by manufacturer.</p>

          <p>Please find the condition of the item you have below:</p>

          <ul>
            <li>
              <strong>Factory New Items</strong> are warrantied by and through the manufacturer. All warranty claims need be processed through the original manufacturer. MFI is available to assist with any manufacturer warranty claims.</li>
            <li>
              <strong>Factory Refurbished</strong> are warrantied by and through the manufacturer. All warranty claims need be processed through the original manufacturer. MFI is available to assist with any manufacturer warranty claims.</li>
            <li>
              <strong>Certified Refurbished</strong> items are warrantied through MFI Medical. Warranty claims should be submitted through our <a href="https://mfimedical.com/pages/service-ticket" target="_blank">online service ticket request</a>.

              <ul>
                <li>After expiration of warranty, MFI is available to assist with telephonic technical support free of charge. Please request service <a href="https://mfimedical.com/pages/service-ticket" target="_blank">here</a>.</li>
              </ul>
            </li>
          </ul>

          <p>We have a team of <a href="https://mfimedical.com/pages/contact-us" target="_blank">Customer Success</a> associates ready to assist with all warranty claims. If you are an <a href="https://mfimedical.com/pages/members" target="_blank">MFI Member</a>, please feel free to contact your account manager directly (you can <a href="https://mfimedical.com/pages/find-your-account-manager">find your area manager here</a>).</p>

          <p>*Please note that shipping charges are usually not covered under warranty.</p>

        </div>
        <button class="modal__btn" data-micromodal-close="" aria-label="Close this dialog window">Close</button>
      </div>
    </div>
  </div>
</div>