<div class="modal micromodal-slide" id="modal-leadtime" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-leadtime-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-leadtime-title">
          Lead Time
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-leadtime-content">
        <p>
          We work very hard to ensure that we offer the absolute best prices online. If you find another online store that offers a lower price than us within 30 days of your purchase date, let us know and we will credit your account. Also, we will credit your account if you find that our own website has a lower price for the same item within 30 days of your purchase date. We want you to be confident that you have found the absolute best price for the product you are purchasing.
<br><br>
          Contact us with a link to the same product on our website, on our competitors’ website, or a copy of a competitive formal quotation. We will process a credit on your account if you made the purchase within 30 days. We will contact you if you are looking to make a new purchase and try to beat the lower price.
<br><br>
          Our Price Match Policy has some limitations, so please refer to our customer support center for full details and exclusions. 
        </p>
      <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </main>
    </div>
  </div>
</div>