<div class="modal micromodal-slide" id="modal-financing" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-financing-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-financing-title">
          Financing
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-financing-content">
        <p>
          Keep your cash and finance your purchase today instead. Apply for financing and pay for your purchase over time with low monthly payments. The application is simple, certified, and secure. Best of all, MFI Medical is here to assist every step of the way.
        </p>
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </main>

    </div>
  </div>
</div>