<p class='modal-open-link modal-pricematch' style='margin-bottom: 0;' data-micromodal-trigger="modal-pricematch">
  <span class='font-felix text--strong modal-open-link'>Price Match Guarantee</span>
</p>