<span data-micromodal-trigger="modal-pricematch" class='modal-open-link modal-pricematch' style='margin-bottom: 10px;'>
  <span>{%- render 'icon', icon: 'saletag' -%}</span><span style='font-size: 12px;line-height: 1;'>Price Match Guarantee</span>
</span>