{% if product.tags contains 'returnable' %}
<div class='flex ai-c' style='font-size: 14px;'>
  <a href='#.' class='modal-open-link' data-micromodal-trigger="modal-returns">
    <span>Free Returns</span>
  </a>
</div>
{% endif %}