<div id="ReviewsWidget"></div>

<link rel="stylesheet" href="https://widget.reviews.io/combined/style.css">
<script src="https://widget.reviews.io/combined/dist.js"></script>
<script>
    new ReviewsWidget('#ReviewsWidget', {
        store: 'mfi-medical',
        widget: 'social-proof',
        options: {
            perspective: 20,
            card_amount: 3
        }
    });
</script>
    