<div class="product-meta__share-buttons hidden-phone">
  <div class="social-media__item">
    <a href="mailto:?&subject={{ product.title | escape }}&body={{ share_url }}" aria-label="{{ 'general.social.email_share' | t }}">{% render 'icon', icon: 'email' %} Email this page</a>
  </div>
</div>