{%- if product.metafields.custom_fields["package"] == blank or product.metafields.custom_fields["package"] == "-" -%}

{% assign machine = shop.metafields.custom_fields["variant_fields"] | split: "|" %}
<div class="variant-custom-fields-wrapper" style='display: inline-block;'>
  {%- for variant in product.variants -%}

  <div class="variant-custom-fields" data-variant-id="{{ variant.id }}">
<!--     <div class="variant__title"><h3> {{ variant.title }}<strong> Model</strong></h3></div> -->
    <div class="variant__cf">
    	{% if machine != blank %}
    		{% for info in machine %}
      			{% assign machine_item = info | split: '='%}
      			{% assign human_name = machine_item[0] %}
      			{% assign machine_name = machine_item[1] %}
				{% if variant.metafields.custom_fields[machine_name] != blank %}
      
      			{% if machine_name == 'package' %}
          			<span>
                  		<span style='display: none;'>{{ human_name }}:</span>
                  		{% if variant.metafields.custom_fields[machine_name] contains 'parcel' %}
                      		<p class='modal-open-link modal-freeshipping' style='margin-bottom: 0;' data-micromodal-trigger="modal-freeshipping" onclick="ga('send', 'event', 'PDP Links', 'click', 'Free Shipping Modal');">
                              <span style='font-size: 14px;'>Free Standard Shipping</span>
                            </p>
                      	
                      	{% elsif variant.metafields.custom_fields[machine_name] contains 'freight' %}
                          <p class='modal-open-link modal-freeshipping' style='margin-bottom: 0;' data-micromodal-trigger="modal-freightshipping" onclick="ga('send', 'event', 'PDP Links', 'click', 'Freight Modal');">
                            <span style='font-size: 14px;'>Freight Shipping Policy</span>
                          </p>
                      	{% else %}
                      	{% endif %}
                      	
      				</span>
      			{% endif %}
    			{% endif %}
    		{% endfor %}
		{% endif %}
    </div>
  </div>
  {%- endfor -%}
</div>

{%- else -%}

{% if product.metafields.custom_fields["package"] contains 'parcel' %}
<p class='modal-open-link modal-freeshipping' style='margin-bottom: 0;' data-micromodal-trigger="modal-freeshipping" onclick="ga('send', 'event', 'PDP Links', 'click', 'Free Shipping Modal');">
  <span style='font-size: 14px;'>Free Standard Shipping</span>
</p>
{% elsif product.metafields.custom_fields["package"] contains 'freight' %}
<p class='modal-open-link modal-freeshipping' style='margin-bottom: 0;' data-micromodal-trigger="modal-freightshipping" onclick="ga('send', 'event', 'PDP Links', 'click', 'Freight Modal');">
  <span style='font-size: 14px;'>Freight Shipping Policy</span>
</p>
{% else %}
{% endif %}

{%- endif -%}