<section>
  <div class="container">
    <div class='flex-col-row jc-spe page-section acct-register-container'>
      <div class='acct-register-static-content'>
        <header class="page__header page__header--stack">
          <h1 class="page__title heading h1">Enter account information</h1>
        </header>
        <p>Fill out the form as completely as possible to help us provide you with the most tailored shopping experience.</p>
        <p><strong>If you are purchasing on behalf of a business, private practice, clinic, organization, or any healthcare facility</strong>, please check the corresponding box on the form. This will allow you to add the following information to your profile:</p>
        <ul>
          <li>Tax exempt status</li>
          <li>Tax exempt documentation</li>
          <li>Vizient member status</li>
          <li>Vizient facility ID number</li>
        </ul>
      </div>
      <div class='acct-register-form'>{% render "customer-fields", form_id: "xPtnXk" %}</div>
    </div>
  </div>
</section>