<section>
  <div class="container">
    <div class='flex-col-row jc-spe page-section acct-register-container'>
      <div class='acct-register-static-content'>
        <header class="page__header page__header--stack">
          <h1 class="page__title heading h1">Business information</h1>
        </header>
        <p>Fill out the form as completely as possible to help us provide you with the most tailored shopping experience.</p>
        <p><strong>If you are purchasing on behalf of a business, company, healthcare facility, medical practice or any other type of organization</strong>, you may add the following information to your profile:</p>
        <ul>
          <li>Tax exempt status</li>
          <li>Vizient member status</li>
        </ul>
      </div>
      <div class='acct-register-form'>{% render "customer-fields", form_id: "L3teb6" %}</div>
    </div>
  </div>
</section>