<section>
  <div class="container">
    <div class='flex-col-row jc-spe page-section acct-register-container'>
      <div class='acct-register-static-content'>
        <header class="page__header page__header--stack">
          <h1 class="page__title heading h1">Tax-exempt customer form</h1>
        </header>
        <p><strong>If you are a tax-exempt customer</strong>, please provide us with additional information so that we can setup your account to make tax-free purchases online. You will need the following information to start the tax exemption process.</p>
        <ul>
          <li>Tax exempt state</li>
          <li>Tax exempt entity type</li>
          <li>Tax exempt documentation</li>
        </ul>
        <br><p>Please allow 3-5 business days for processing. To expedite this process, please email your exemption documentation to <a href='mailto:exempt@mfimedical.com' class='link link--accented'>exempt@mfimedical.com</a>. If you have questions or need assistance, you may email us at <a href='mailto:exempt@mfimedical.com' class='link link--accented'>exempt@mfimedical.com</a> or call our office at <a href='tel:18582397912' class='link link--accented'>858-239-7912</a>.</p>
      </div>
      <div class='acct-register-form'>{% render "customer-fields", form_id: "RxtJvP" %}</div>
    </div>
  </div>
</section>